.elem {
 width: 100%;
 display: flex;
 align-items: center;

 padding: 10px 15px;
 border-bottom: 1px solid rgb(245, 244, 244);
 box-sizing: border-box;
 cursor: pointer;
}

.elem span {
 margin-right: 10px;
}

.elem:hover {
 background-color: #e5f3fd;
}

.main {
 flex: 0 1 50%;
 display: flex;
 align-items: center;
}

.album {
 flex: 0 1 20%;
}

.dur {
 flex: 1;
}

.cover {
 height: 40px;
 width: 40px;
 overflow: hidden;

 background-color: #e5dfdf;
 margin-right: 20px;
}

.cover img {
 height: 40px;
 object-fit: cover;
}

.id {
 display: block;
 width: 40px;
 text-align: right;
 padding-right: 10px;
 box-sizing: border-box;
}

.isplaying:hover,
.isplaying {
 background-color: #c7d6f7;
}