:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #181818;
  --sec-color: #2693d7;
  --vp-header: 60px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
  min-height: 30px;

  font-size: 0.9rem;

  color: #000;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.content_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.conent {
  padding: 10px 0;
}

button > svg {
  height: 80%;
  font-size: 17px;
  width: 17px;
  height: 17px;
  color: #fff;
}

button.active_btn > svg {
  color: var(--sec-color);
}


input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #3071A9;
  border-radius: 3px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 7px;
  width: 7px;
  border-radius: 10px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
  transform: scale(1.1);
  transition: 0.1s ease;
}

input[type=range]:hover::-webkit-slider-thumb {
  transform: scale(3);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #000000;
  background: #3071A9;
  border-radius: 10px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #000000;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 1px 1px 2px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #000000;
  border: 1px solid #000000;
  height: 19px;
  width: 19px;
  border-radius: 20px;
  background: transparent;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
